* {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
}
body {
    padding: 10px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}
main {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);
    border-radius: 10px;
    background-color: white;
    /*display: flex;
    flex-direction: column;*/
    width: 800px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
div.container {
    display: flex;
}
h2{
    padding-left: 30px;
    padding-bottom: 20px;
}
img {
    width: 300px;
    padding: 10px 20px 20px 30px;
}
p.desc {
    text-align: justify;
    padding: 15px;
}